<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Brands{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/plugins/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/plugins/owl-carousel/owl.carousel.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/plugins/owl-carousel/owl.theme.default.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/plugins/magnific-popup/magnific-popup.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/app.min.css') }}" rel="stylesheet">
            <!-- Fonts/Icons -->
            <link href="{{ asset('assets/plugins/font-awesome/css/all.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/plugins/themify/themify-icons.min.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-preloader="2">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/plugins/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/bootstrap/popper.min.js') }}"></script>
            <!-- Plugins -->
            <script src="{{ asset('assets/plugins/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/appear.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/easing.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/retina.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/countdown.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/imagesloaded.pkgd.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/isotope.pkgd.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/jarallax/jarallax.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/jarallax/jarallax-video.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/magnific-popup/magnific-popup.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/owl-carousel/owl.carousel.min.js') }}"></script>
            <script src="http://maps.google.com/maps/api/js?key=AIzaSyDCOgtrXxCRLynF9eWFMdHmcxgEBg4y8Gg"></script>
            <script src="../assets/plugins/gmaps.min.js{{ asset('assets/plugins/gmaps.min.js') }}"></script>

            <script src="{{ asset('assets/js/functions.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
