{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/header.html.twig' %}
    {% embed 'default/page-header.html.twig' %}
        {% block page_title %}Cart Page{% endblock %}
        {% block page_title1 %}Cart Page{% endblock %}
    {% endembed %}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="table-responsive">
                        {{ form_start(commande_form) }}
                        <table class="product-table">
                            <thead>
                            <tr>
                                <th scope="col"><h6 class="heading-uppercase no-margin">Product</h6></th>
                                <th scope="col"><h6 class="heading-uppercase no-margin">Price</h6></th>
                                <th scope="col"><h6 class="heading-uppercase no-margin">Quantity</h6></th>
                                <th scope="col"><h6 class="heading-uppercase no-margin">Total</h6></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items1 %}
                                <tr>
                                    <td class="cart-product-thumbnail">
                                        <img src="{{ vich_uploader_asset(item.product,'imageFile') }}" alt="">
                                        <h6>{{ item.product.name }}</h6>
                                    </td>
                                    <td>
                                        <span>{{ item.product.price }} DT</span>
                                    </td>
                                    <td class="cart-product-quantity">
                                        <div class="product-quantity">
                                            <a class="button-circle button-circle-xs button-circle-grey dec"><i class="ti-minus"></i></a>
                                            {{ form_widget(commande_form.items[loop.index0].quantity) }}
                                            <a class="button-circle button-circle-xs button-circle-grey inc"><i class="ti-plus"></i></a>
                                        </div>
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="font-weight-bold"><span></span> DT</span>
                                    </td>
                                    <td class="cart-product-remove">
                                        <a href="{{ path('delete_cart_item', {'id': item.id}) }}"><i class="ti-close"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="payment-detail-box">
                        <h5 class="margin-bottom-20">Payment Details</h5>
                        <div class="row">
                            <div class="col-7">
                                <h6 class="heading-uppercase">Total:</h6>
                            </div>
                            <div class="offset-1 col-4">
                                <span class="text-dark"><span></span> DT</span>
                            </div>
                        </div>
                    </div>
                    <div>{{ form_widget(commande_form.save, { 'label': 'Proceed to Checkout' }) }}</div>
                </div>
            </div>
            {{ form_rest(commande_form) }}
            {{ form_end(commande_form) }}
        </div>
    </div>

    {% include 'default/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            $('.product-quantity').find('input').removeClass('form-control');
        });
    </script>
    <script>
        $( document ).ready(function() {

            var subtotal = parseFloat(0);
            $('.cart-product-subtotal').each(function () {
                var quantity = parseFloat($(this).prev('td.cart-product-quantity').find('input').val());
                var price = parseFloat($(this).prev('td').prev('td').find('span').text());
                var value = quantity*price;
                subtotal = parseFloat(subtotal) + value;
                $(this).find('span').find('span').text(parseFloat(value));
            });

            $('.payment-detail-box').find('span.text-dark').find('span').text(subtotal);

            $('.button-circle').on('click', function (e) {
                var quantity = parseFloat($(this).siblings('input').val());
                var price = parseFloat($(this).parent().parent().prev('td').find('span').text());
                var value = quantity*price;

                $(this).parent().parent().siblings('.cart-product-subtotal').find('span').find('span').text(value);

                var subtotal = parseFloat(0);
                $('.cart-product-subtotal').each(function () {
                    var quantity = parseFloat($(this).prev('td.cart-product-quantity').find('input').val());
                    var price = parseFloat($(this).prev('td').prev('td').find('span').text());
                    var value = quantity*price;
                    subtotal = parseFloat(subtotal) + value;
                });
                $('.payment-detail-box').find('span.text-dark').find('span').text(subtotal);
            });

            $('.product-quantity').find('input').on('change', function (e) {
                var quantity = parseFloat($(this).val());
                var price = parseFloat($(this).parent().parent().prev('td').find('span').text());
                var value = quantity*price;

                $(this).parent().parent().siblings('.cart-product-subtotal').find('span').find('span').text(value);

                var subtotal = parseFloat(0);
                $('.cart-product-subtotal').each(function () {
                    var quantity = parseFloat($(this).prev('td.cart-product-quantity').find('input').val());
                    var price = parseFloat($(this).prev('td').prev('td').find('span').text());
                    var value = quantity*price;
                    subtotal = parseFloat(subtotal) + value;
                });
                $('.payment-detail-box').find('span.text-dark').find('span').text(subtotal);
            })
        });
    </script>
{% endblock %}