{% extends 'base.html.twig' %}
{% block body %}
    {% include 'default/header.html.twig' %}

    <!-- Page header -->
    <div class="section-lg bg-image parallax" style="background-image: url('{{ asset('assets/images/agency-classic-bg.jpg') }}')">
        <div class="bg-black-06">
            <div class="container text-center">
                <h1 class="font-weight-normal">Contact Classic</h1>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index_page') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                    </ul>
                </nav>
            </div><!-- end container -->
        </div>
    </div>

    <!-- Contact Info section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                    <i class="ti ti-email text-dark margin-bottom-20"></i>
                    <h6 class="heading-uppercase no-margin">Email</h6>
                    <p>hamzachebil40@gmail.com</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                    <i class="ti ti-mobile text-dark margin-bottom-20"></i>
                    <h6 class="heading-uppercase no-margin">Phone</h6>
                    <p>+(216) 55 142 437</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                    <i class="ti ti-skype text-dark margin-bottom-20"></i>
                    <h6 class="heading-uppercase no-margin">Skype</h6>
                    <p>skype</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                    <i class="ti ti-location-pin text-dark margin-bottom-20"></i>
                    <h6 class="heading-uppercase no-margin">Address</h6>
                    <p>676 INSAT Centre Urbain Nord BP، Tunis Cedex 1080</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Contact Info section -->

    <!-- Contact Form section -->
    <div class="section no-padding-top">
        <div class="container">
            <div class="contact-form">
                {{ form_start(contact_form) }}
                    <div class="form-row">
                        <div class="col-12 col-sm-6">
                            {{ form_widget(contact_form.name, { 'attr': {'placeholder': 'Name' } }) }}
                        </div>
                        <div class="col-12 col-sm-6">
                            {{ form_widget(contact_form.email, { 'attr': {'placeholder': 'E-Mail'} }) }}
                        </div>
                    </div>
                    {{ form_widget(contact_form.message, { 'attr': {'placeholder': 'Message'} }) }}
                    <div>{{ form_errors(contact_form) }}</div>

                    <div class="text-center">{{ form_widget(contact_form.save, {'attr': {'class': 'button button-lg button-grey button-radius'}}) }}</div>
                    {{ form_rest(contact_form) }}
                {{ form_end(contact_form) }}
                <!-- Submit result -->
                <div class="submit-result">
                    <span id="success">Thank you! Your Message has been sent.</span>
                    <span id="error">Something went wrong, Please try again!</span>
                </div>
            </div><!-- end contact-form -->
        </div><!-- end container -->
    </div>
    <!-- end Contact Form section -->

    {% include 'default/footer.html.twig' %}
{% endblock %}