{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/header.html.twig' %}
    {% embed 'default/page-header.html.twig' %}
        {% block page_title %}Product Details{% endblock %}
        {% block page_title1 %}Product Details{% endblock %}
    {% endembed %}

    <!-- Product Content -->
    <div class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 product-single">
                    <div class="product-single-img">
                        <div class="product-single-img-slider">
                            <div data-hash="first">
                                <img src="{{ vich_uploader_asset(p,'imageFile') }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!-- Product Price -->
                    <div class="product-price">
                        <h5 class="font-weight-light">{{ p.price }} DT</h5>
                    </div>
                    <!-- Product Title -->
                    <h4>{{ p.name }}</h4>
                    <!-- Product text -->
                    <p>
                        {{ p.description }}
                    </p>
                    <!-- Order -->
                    {{ form_start(cart_form) }}
                    <div class="margin-top-20 margin-bottom-20">
                        <div class="product-quantity margin-right-30">
                            <div class="row margin-0">
                                <a class="button-circle button-circle-xs button-circle-grey dec"><i class="ti-minus"></i></a>
                                {{ form_widget(cart_form.quantity) }}
                                <a class="button-circle button-circle-xs button-circle-grey inc"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <h6 class="heading-uppercase button button-lg button-dark send-button1">
                        {{ form_widget(cart_form.save, { 'label': 'Add to cart' }) }}
                    </h6>
                    {{ form_rest(cart_form) }}
                    {{ form_end(cart_form) }}
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
    <!-- end Product Content -->

    {% include 'default/footer.html.twig' %}
{% endblock %}