{% extends 'base.html.twig' %}

{% block body %}
    <div style="position: fixed">
        <div><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{ asset('admin_assets/images/flags/fr.png') }}" alt=""></a></div>
        <div><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ar'})) }}"><img src="{{ asset('admin_assets/images/flags/tn.png') }}" alt=""></a></div>
    </div>
    <div class="custom-header-products">
        <div class="custom-container-products">
            <div class="container">
                <div class="row align-items-right justify-content-center custom-navbar-row">
                    <nav class="navbar navbar-expand navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link navbar-custom-title-product" href="{{ path('index_page') }}">{{ 'translate.home'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link navbar-custom-title-product" href="{{ path('index_products_page_l') }}">{{ 'translate.products'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link navbar-custom-title-product" href="{{ path('index_recipes_page_l') }}">{{ 'translate.recette'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link navbar-custom-title-product" href="{{ path('contact_page_l') }}">{{ 'translate.contact'|trans }}</a>
                                </li>
                            </ul>

                            {% if cartLogo!=0 %}
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item">
                                        <a class="nav-link cart-logo" href="{{ path('cart_page') }}">
                                            <i class="icon-cart5" style="font-size: 1.5em; color: darkgrey;"></i>
                                            <span class="badge badge-pill badge-dark">{{ cartLogo }}</span>
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </nav>
                </div>
                <div class="row align-items center justify-content-center">
                    <div class="custom-title3">{{ 'translate.product-page-header'|trans }}</div>
                </div>
                <div class="row align-items center justify-content-center">
                    <div class="custom-title4">{{ 'translate.product-page-header1'|trans }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-product-list">
        <div class="custom-product-title text-center">{{ 'translate.product-page-title'|trans }}</div>
        <div class="row justify-content-center" style="margin-bottom: 50px;">
            <div class="col-lg-2 col-md-4" style="margin: 10px;">
                <div class="btn-products category text-center">{{ 'translate.product-cat'|trans }}</div>
            </div>
            <div class="col-lg-2 col-md-4" style="margin: 10px;">
                <div class="btn-products category text-center">{{ 'translate.moz'|trans }}</div>
            </div>
            <div class="col-lg-2 col-md-4" style="margin: 10px;">
                <div class="btn-products category text-center">{{ 'translate.fb'|trans }}</div>
            </div>
            <div class="col-lg-2 col-md-4" style="margin: 10px;">
                <div class="btn-products category text-center">{{ 'translate.gouta'|trans }}</div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for p in products %}
                <div class="col-lg-3 col-sm-5 col-md-3 custom-product-item" {% if app.request.locale == 'ar' %}data_category="{{ p.categoryAr }}{% else %}data_category="{{ p.category }}{% endif %}">
                    <a href="{{ path('product_details_page_l', {'id': p.id}) }}">
                        <div><img class="img-fluid" src="{{ vich_uploader_asset(p,'imageFile') }}" alt=""></div>
                        <hr>
                        {% if app.request.locale == 'ar' %}
                            <div class="text-center custom-item-name">{{ p.nameAr }}</div>
                        {% else %}
                            <div class="text-center custom-item-name">{{ p.name }}</div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'default/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.category').on('click', function (e) {

                var clicked_cat = $(e.target).text();
                var products = $('.custom-product-item');
                if(clicked_cat === 'Tout les Produits' || clicked_cat === 'جميع المنتجات')
                {
                    $.each(products, function (key, value) {
                        $(value).show();
                    });
                }
                else {
                    $.each(products, function (key, value) {
                        var product_cat = $(value).attr('data_category');
                        var clicked_cat = $(e.target).text();
                        if(product_cat === clicked_cat) {
                            $(value).show();
                        }
                        else {
                            $(value).hide();
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}