{% extends 'base.html.twig' %}
{% block body %}
    {% include 'default/header.html.twig' %}

    {% embed 'default/page-header.html.twig' %}
        {% block page_title %}Product List{% endblock %}
        {% block page_title1 %}Product List{% endblock %}
    {% endembed %}

    <!-- Scroll to top button -->
    <div class="scrolltotop">
        <a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
    </div>
    <!-- end Scroll to top button -->

    <!-- Products section -->
    <div class="section">

        <!-- Fullscreen Search Form -->
        <div class="search-style-2 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center">
                        <form action="{{ path('index_products_page') }}" class="form-inline form-style-5" method="get">
                            <input type="text" class="form-control font-large" name="filter" placeholder="Search.." required>
                            <button style="font-size: 1.5em;" class="mb-2 ml-2"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
        <!-- end Fullscreen Search Form -->

        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    {% if app.request.get('page') != 0 %}
                        {% set spage = app.request.get('page') %}
                    {% else %}
                        {% set spage = 1 %}
                    {% endif %}
                    <h6 class="heading-uppercase no-margin">Showing {{ 1+9*(spage-1) }}-{{ 9+(spage-1)*9 }} out of {{ products.getTotalItemCount }}</h6>
                </div>
            </div>

            <div class="row product-wrapper margin-top-50">
                {% for p in products %}
                    <div class="col-12 col-md-6 col-lg-4 product">
                        <div class="product-img">
                            <a href="{{ path('product_details_page', {'id': p.id}) }}">
                                <img src="{{ vich_uploader_asset(p,'imageFile') }}" alt="">
                            </a>
                            <div class="product-img-hover">
                                <form action="{{ path('add_to_cart_page', {'id': p.id}) }}" method="post">
                                    <h6 class="heading-uppercase">
                                        <a href="{{ path('add_to_cart_page', {'id': p.id}) }}">
                                            <input class="custom-add-cart" type="submit" value="Add to Cart">
                                        </a>
                                    </h6>
                                </form>
                            </div>
                        </div>
                        <div class="product-info">
                            <h6><a href="{{ path('product_details_page', {'id': p.id}) }}">{{ p.name }}</a></h6>
                            <!-- Product Category -->
                            <ul class="list-horizontal">
                                <li><a href="{{ path('product_details_page', {'id': p.id}) }}">{{ p.category }}</a></li>
                            </ul>
                            <!-- Product Price -->
                            <div class="product-price">
                                <h6>{{ p.price }} DT</h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <nav>
                <ul class="pagination justify-content-center margin-top-70">
                    {{ knp_pagination_render(products) }}
                </ul>
            </nav>
        </div>
    </div>
    <!-- end Products section -->

    {% include 'default/footer.html.twig' %}
{% endblock %}